<h1>My Time Slot Events</h1> <br>

<%= link_to 'New Time Slot Event', time_slot_new_path %>

<hr>

<% if @events.count > 0 %>
    <h3>Created time slots</h3>
<% @events.each do |e| %>
    <div class="event time slot">
      <em>Title:</em> <%= e.title %><br>
      <em>Description:</em> <%= e.description %><br>
      <em>Start of block:</em><%= e.start_time.strftime("%-d %b - %H:%M") %><br>
      <em>End of block:</em><%= e.end_time.strftime("%-d %b - %H:%M") %><br>
      <%= link_to('Delete', {:action => :destroy, :id => e.id, :class => 'action event'}) %>&nbsp;&nbsp;

      <% e.time_slots.each do |t| %>
          <div class="time slot">
            <em>Asignee:</em> <%= t.user.email %><br>
            <em>At:</em> <%= t.start_time.strftime("%-d %b - %H:%M") %><br>
            <em>Duration: </em> <%= "#{pluralize(t.duration/3600, 'hour') if t.duration/3600 > 0} #{pluralize((t.duration/60)%60, 'minute') if (t.duration/60)%60 > 0}" %>
          </div>
      <% end %>
    </div>
    <br>
    <br>
<% end %>

    <hr>

<% end %>

<% if @assigned_time_slots.count > 0 %>
    <h3>Assigned time slots</h3>
    <% @assigned_time_slots.each do |t| %>
        <div class="time slot">
          <em>Event Title:</em> <%= t.event.title %><br>
          <em>Event Description:</em> <%= t.event.description %><br>
          <em>At:</em> <%= t.start_time.strftime("%-d %b - %H:%M") %><br>
          <em>Duration: </em> <%= "#{pluralize(t.duration/3600, 'hour') if t.duration/3600 > 0} #{pluralize((t.duration/60)%60, 'minute') if (t.duration/60)%60 > 0}" %>
        </div>
    <% end %>
    <hr>
<% end %>

<% if @users.count > 0 %>
    <h3>Sign Up</h3>
    <% @users.each do |u| %>
        <div class="sign up">
          <%= link_to u.email, {:action => :signup, :id => request.id, :class => 'action request'} %><br>
        </div>
    <% end %>
<% end %>


