<h1>New Time Slot Event</h1>

<div class="event block">
  <%= form_for('event_blocks', :url => {:controller => 'time_slot', :action => 'create'}) do |f| %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>
      <%= f.fields_for :repetition_scheme do |r| %>
          <div class="field">
            <%= r.label 'minimum slot duration' %><br>
            <%= r.time_select :min_duration, {:include_blank => true, :minute_step => 5, :time_separator => " hours and ", :start_hour => 0, :end_hour => 2} %> minutes
          </div>
          <div class="field">
            <%= r.label 'maximum slot duration' %><br>
            <%= r.time_select :max_duration, {:include_blank => true, :minute_step => 5, :time_separator => " hours and ", :start_hour => 0, :end_hour => 2} %> minutes
          </div>
      <% end %>
      <div id="time_slot_events">
      <% @events.each do |e| %>
          <script type="text/javascript">
          var num = prompt("How many different event boxes would you like?");
          for (i=0; i<num; i++){
              $('#time_slot_events').append("<div class='partial'><%= escape_javascript render(:partial => 'form_event', :locals => { :f => f, :event => e }) %>");
            }
          </script>
          <%#= render :partial => 'form_event', :locals => {:f => f, :event => e} %>
          <%#= render :partial => 'form_event', :locals => {:f => f, :event => e} %>
      <% end %>
      </div>
      <%#= f.button 'Add Event Block', id: 'add_button', class:'button radius', :action => :add_event_block, :remote => true %>

      <%= link_to 'Add Event Block', {:action => :add_event_block}, :remote => true%>


      <div class="actions">
        <%= f.submit 'Create Time Slots', class: "button radius"%>
      </div>
  <% end %>


</div>


