<% content_for :center do%>
<h2>New Time Slot Event</h2>

<div class="event block" id="Time_Slot_Form">
  <%= form_for('event_blocks', :url => {:controller => 'time_slot', :action => 'create'}) do |f| %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description, size: "10x5" %>
      </div>
      <%= f.fields_for :repetition_scheme do |r| %>
          <div class="field">
            <%= r.label 'minimum slot duration' %><br>
            <%= r.time_select :min_duration, {:include_blank => true, :minute_step => 5, :time_separator => " hours and ", :start_hour => 0, :end_hour => 2} %> minutes
          </div>
          <div class="field">
            <%= r.label 'maximum slot duration' %><br>
            <%= r.time_select :max_duration, {:include_blank => true, :minute_step => 5, :time_separator => " hours and ", :start_hour => 0, :end_hour => 2} %> minutes
          </div>
      <% end %>
	  

      <hr>

      <h3>Preference options</h3><br>
      <div class="field">
		  <%= f.check_box :preference%> <%= f.label :preference , "Preference Based Signups"%><br>
		  <%= f.check_box :create_to_do %> <%= f.label :create_to_do, "Create To Dos" %> <br>
		  <%= f.label :to_do_priority, "To Do Priority"%><%= f.number_field :to_do_priority, in: 1..5, step: 1 %> <br>
		<ul>
      </div>

      <hr>

<h3>Participants</h3><br>
<h4>Users</h4>
	<% @users.each do |u| %>
    	<%= check_box('user_participant',"#{u.id}") %>
    	<%= u.email %>
    	<br>
	<% end %>
	<br><br>
	<h4>Groups</h4>
	<% @groups.each do |g| %>
    	<%= check_box('group_participant',"#{g.id}") %>
   	 	<%= g.title %>
    	<br>
	<% end %>

	  <hr>

      <h3>Blocks</h3>

      <div id="time_slot_events">
      <% @events.each do |e| %>
	  	
          <script type="text/javascript">

            $(document).ready(function(){
            $('#MyButton').click(function(){
              $('#time_slot_events').append("<div class='partial'><%= escape_javascript render(:partial => 'form_event', :locals => { :f => f, :event => e }) %>");
              $("#datetimepicker").datetimepicker();
              
              });
            });

          </script>
          <%= render :partial => 'form_event', :locals => {:f => f, :event => e} %>
      <% end %>
      </div>
      <input type="button" value="Add Another Block" id="MyButton" class="button radius">

      <div class="actions">
        <%= f.submit 'Create Time Slots', class: "button radius"%>
      </div>
  <% end %>


</div>
<% end %>

