<h2>Assign Slots</h2>

<h4><%= @event.title %></h4>



<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Preferences</th>
		</tr>
	</thead>
	<tbody>
		<%= form_tag({controller: 'time_slot', action: :assign_slots, id: @event.id})  do %>
		<% @preferences.keys.each do |user| %>
			<tr>
				<td><%= user.name  %></td>
				<td><%= user.email %></td>
				<td>
				<% if @preferences[user].count == 0 %>
					No Preferences Provided!
				<% else %>
					<% @preferences[user].each do |pref| %>
						<%= to_eastern_time(pref.start_time.localtime).strftime("%H:%M") %> --  <%= pref.preference %> -- <%= radio_button_tag("users[#{user.id}]", pref.id) %><br>
					<% end %>
				<% end %>
				</td>
			</tr>
		<% end %>


		
	</tbody>
</table>

		<%= submit_tag "Confirm Assignments", class: "button radius" %>
		<% end %>

	
<% if false %>
<%= link_to "Assign", {controller: 'time_slot', action: :assign_user_to_slot}, user: u, slot: @event, remote: true, :html => {:id => "ajax_assign"} %>
<% end %>