<h2>Assign Slots</h2>

<h4><%= @event.title %></h4>

<div id="response_data">
</div>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Preferences</th>
		</tr>
	</thead>
	<tbody>
				<% if false %>
		<% for u in @preferences.keys %>
		<tr>
			<td><%= u.name %></td>
			<td><%= u.email %></td>
			<td>
				
				
				Event A - 1  -- <%= link_to "Assign", {controller: 'time_slot', action: :assign_user_to_slot}, user: u, slot: @event %><br>
			</td>
		</tr>
				<% end %>
		<% end %>
	</tbody>
</table>

<% if false %>
<%= link_to "Assign", {controller: 'time_slot', action: :assign_user_to_slot}, user: u, slot: @event, remote: true, :html => {:id => "ajax_assign"} %>
<% end %>