<h2>Sign up for a time slot with <%= @user.name %></h2>

<% if @events.count == 0 %>
	<hr>
    <h3>No time slot schedules available</h3>
<% else %>
    <% @events.each do |e| %>
		<hr>
		<% if preference_based(e) %>
		
		<%###################################%>
		<%# Preference-based TimeSlot Signup %>
		<%###################################%>
	
    		<%= form_for('preference_signup', :url => {:controller => 'time_slot', :action => 'choose_slot_preferences'}) do |f| %>
        		<div class="event slot">
          			<em>Title:</em> <%= e.title %><br>
         			<em>Description:</em> <%= e.description %><br>
					<em>Duration:</em>  <%= e.permitted_slot_durations.first %>min<br>
          			<%= f.fields_for "#{e.id}" do |s| %>
            		<em>Start time:</em>
					<%= s.select :slot_time, e.permitted_slot_start_times.map {|t| [t.strftime("%H:%M"), t]} %>
					<%= s.label :preference, "Preference"%><%= s.number_field :preference, in: 1..5, step: 1 %>
			 	   <br><br>
          		<% end %>
        	</div>

        </div>
        <%= f.submit 'Add Preference', class: "button radius" %>
    	<% end %>
	
	<% else %>
	
	<%#########################%>
	<%# Normal TimeSlot Signup %>
	<%#########################%>
	
    	<%= form_for('event_signup', :url => {:controller => 'time_slot', :action => 'assign_time_slots'}) do |f| %>
        	<div class="event slot">
          	<em>Title:</em> <%= e.title %><br>
        	<em>Description:</em> <%= e.description %><br>
        	<%= f.fields_for "#{e.id}" do |s| %>
            	<em>Start time:</em>
            	<%= s.select :slot_time, e.permitted_slot_start_times.map {|t| [t.strftime("%H:%M"), t]} %>
            	<em>Duration:</em>
            	<%= s.select :slot_duration, e.permitted_slot_durations %>
          	<% end %>
        	</div>
        	<%= f.submit 'save time slots', class: "button radius" %>
    	<% end %>

	<% end %>

    <%#= f.submit 'save time slots', class: "button radius" %>

	<% end %>
<% end %>

<%= link_to "Back", {action: :index} %>