<h1>Groups</h1>
<br>
<%= link_to "New Group", {action: :new_modal}, data: {'reveal-id': "new-group-modal", 'reveal-ajax': true } %>
<br>
<br>
<table>
<thead>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
</thead>

<tbody>
<% if @groups.size == 0 %>
	<em>No Groups Found</em>
	<% else %>
<% @groups.each do |group|%>
<tr>
	<td><%=group.title %></td>
	<td><%=group.description %></td>
	<td>
	<a href="#" data-reveal-id="view-members-modal"><i class="fi-list large"></i></a> | <%= link_to('<i class="fi-page-edit large"></i>'.html_safe, {:action => :edit, :id => group.id, :class => 'action request'}) %> |
	<a href="#" data-reveal-id="delete_group"> <i class="fi-x large"></i> </a>
	</td>

	<div class="reveal-modal" id="view-members-modal" data-reveal>
		<a class="close-reveal-modal"></a>
			<h2>List of Group Members</h2>
			<br>
			<% group.members.each do |member|%>
				<li><%=member.email%> </li>
			<%end%>		
	</div>
	
	<div class="reveal-modal" id="delete_group" data-reveal>
		ARE YOU SURE YOU WANT TO DELETE THIS GROUP?<br>
			<%= link_to 'Delete this Group', group, method: :delete%>		
  		<a class="close-reveal-modal"></a>
	</div>
	
</tr>
</tbody>

<%end%>
<% end %>
</table>


<div class="reveal-modal" id="new-group-modal" data-reveal>
	<a class="close-reveal-modal"></a>
</div>