
<div id="cal">
	<h4 id="month">
	  <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%B %Y") %>
	  <%=h @date.strftime("%B %Y") %>
	  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%B %Y") %>
	</h4>
	<%= calendar_for @event do |e| %>
  	  <%= e.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 
	  'Friday', 'Saturday', 'Sunday') %>
  	  <%= e.day(:day_method => :start_time) do |date, events| %>
    	<%= date.day %>
		<ul>
    	  <% events.each do |event| %>
      	    <li><%= link_to h(event.name), event %></li>
    	  <% end %>
		</ul>
	  <% end %>
	<% end %>
</div>