<%= form_for('graphic_calendar', :url => {:action => 'show_graphic_cal'}) do |f|%>

<div class="field">
  <%= label :start, 'Starting Date:' %><br>
  <%= f.text_field :start_date, class: 'datetimepicker' %>
</div>
<div class="field">
  <%= label :end, 'Ending Date:' %><br>
  <%= f.text_field :end_date, class: 'datetimepicker' %>
</div>
<%= f.submit 'Search', class: "button radius" %>
<%end%>