<h1>My Events</h1>

<br>

<%= link_to 'New Event', new_event_path %>

<br>

<% if @own_events.count > 0 %>
    <div class="events own">
      <h3>Own Events</h3>
      <%= render(:partial => 'table_index', :locals => {:events => @own_events, :status => nil}) %>
    </div>
<% end %>
<% if @visible_events.count > 0 %>
    <div class="events visible">
      <h3>Visible Events</h3>
      <%= render(:partial => 'table_index', :locals => {:events => @visible_events, :status => "visible"}) %>
    </div>
<% end %>
<% if @modifiable_events.count > 0 %>
    <div class="events modify">
      <h3>Modifiable Events</h3>
      <%= render(:partial => 'table_index', :locals => {:events => @modifiable_events, :status => "modify"}) %>
    </div>
<% end %>
<% if @busy_events.count > 0 %>
    <div class="events busy">
      <h3>Busy Events</h3>
      <%= render(:partial => 'table_index', :locals => {:events => @busy_events, :status => "busy"}) %>
    </div>
<% end %>

<% content_for :calendar do %>
	<% render 'calendar' %>
	<div id="calendar"></div>
<% end %>

<%= content_tag "div", id: "visible_events", data: @visible_events do %>
  
<% end %>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'></script>

<!-- <div>
  <% @friends.each do |friend| %>
      <br><a href="/events?user_id=<%= friend.id %>"><%= friend.email %></a><br>
  <% end %>
</div> -->