<%# This renders the actual graphical calendar (fullcalendar.js) %>
<%# See assets/javascripts/events.js.erb %>
<% content_for :calendar do %>
	<%= link_to image_tag("add.png"), {action: :new_event_modal}, data: {'reveal-id': "new-event-modal", 'reveal-ajax': true} %>
	<br>
	<br>
	<%= link_to "All Events", '#', data: {'reveal-id': "event-lists"} %> | 
	<%= link_to "To Do List", {action: :to_do_list_modal}, data: {'reveal-id': "to_do_list_modal", 'reveal-ajax': true} %> |
		<%= link_to "My Requests", {action: :requests_modal}, data: {'reveal-id': "requests_modal", 'reveal-ajax': true} %> |
	<%= link_to "Email My Schedule", '#', data: {'reveal-id': "graphic-events-email"} %>
	<br>
	<br>
	<div id="calendar"><script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'></script></div>
<% end %>

<div class="reveal-modal" id="new-event-modal" data-reveal>
		<a class="close-reveal-modal"></a>
</div>

<div class="reveal-modal" id="event-lists" data-reveal>
		<a class="close-reveal-modal"><i class="fi-x large"></i></a>
		<%= render "list_index" %>
</div>

<div class="reveal-modal" id="to_do_list_modal" data-reveal>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="reveal-modal" id="requests_modal" data-reveal>
		<a class="close-reveal-modal"></a>
</div>

<div class="reveal-modal" id="events-email" data-reveal>
		<a class="close-reveal-modal"><i class="fi-x large"></i></a>
		<%= render "events_email" %>
</div>

<div class="reveal-modal" id="graphic-events-email" data-reveal>
		<a class="close-reveal-modal"><i class="fi-x large"></i></a>
		<%= render "graphic_calendar_form"%>
</div>