<h2>Events that are in the specified date range</h2>

<head>
	<%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
    <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
</head>



<%@in_range_events.each do |e|%>
	<li><%=e.description%></li>
	<li><%=e.start_time%></li>
	<li><%=e.end_time%></li>
<%end%>
