<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<br><br>
<h1>Subscription information</h1>

<p>
  <strong>User id:</strong>
  <%= @subscription.subscriber_id %>
</p>

<p>
  <strong>Event id:</strong>
  <%= @subscription.subscribed_event_id %>
</p>

<h3>Visibility information</h3>
<div>
  <% @subscription.subscribed_event.visibilities.each do |v| %>
    <p>
    <strong>Visibility id:</strong><%= v.id %><br>
    status: <%= v.status %><br>
    is group? <%= v.group_id.nil? ? "yes" : "no" %>
    </p>
<% end %>
</div>


<br><br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }%>|
<%= link_to 'Back', events_path %>
