<h2>My Requests</h2>

<br>

<%= link_to 'New Request', requests_new_path %>

<hr>

<% @request_maps.each do |request| %>
    <div class='request'>
      <em>Request for event:</em> <%= request.event.title %><br>
      <em>Description:</em> <%= request.event.description %><br>
      <em>Start Time:</em> <%= request.event.start_time.strftime("%-d %b - %H:%M") %><br>
      <em>End Time:</em> <%= request.event.end_time.strftime("%-d %b - %H:%M") %><br>
      Pending Users: <%= request.pending_requests.count %> | Confirmed Users: <%= request.confirmed_requests.count %> |
      Declined Users: <%= request.declined_requests.count %> | Removed Users: <%= request.removed_requests.count %>
      <%= link_to('Delete', {:action => :destroy, :id => request.id, :class => 'action request'}) %>&nbsp;&nbsp;
      <%= link_to('Edit', {:action => :edit, :id => request.id, :class => 'action request'}) %>&nbsp;&nbsp;
      <%= link_to('Details', {:action => :show, :id => request.id, :class => 'action request'}) %>
    </div>
    <hr>
    <br>
<% end %>
