<h1>Find Free Time</h1>

<%= form_for('search', :url => {:action => 'show'}) do |f|%>
<h2>Select a combination of participants and groups</h2>
<hr>
<h3>Participants</h3><br>
<h3>Users</h3>
<% @users.each do |u| %>
    <%= check_box('user_request',"#{u.id}") %>
    <%= u.email %>
    <br>
<% end %>
<br><br>
<h3>Groups</h3>
<% if @groups.count == 0 %>
    <em>You do not have any created groups</em>
<% else %>
<% @groups.each do |g| %>
    <%= check_box('group_request',"#{g.id}") %>
    <%= g.title %>
    <br>
<% end %>
<% end %>

<hr>

<h2>Specify the duration of the requested event</h2>
<%= f.select :duration, options_for_select(allowed_durations.map {|d| d}) %>

<hr>

<h2>Specify periods for search</h2>
<h3>Include next days of week</h3>
<% weekdays.each do |w| %>
    <%= check_box('weekday', w[1]) %>
    <%= label_tag w[0] %>&nbsp;&nbsp;
<% end %>
<br>

<h3>Time Range For Search</h3>
<h3>Start</h3>
<%= f.select :start_time, options_for_select(time_range.map {|d| d}) %>
<h3>End</h3>
<%= f.select :end_time, options_for_select(time_range.map {|d| d}) %>
<br><br>

<h3>Repeat search by criteria</h3>
    <div class="field">
      <%= label :recurrence, 'Repeat:' %><br>
      <%= f.select :recurrence, options_for_select(RepetitionScheme.recurrences.keys.map {|r| [r.humanize, r]}) %>
    </div>
    <div class="field">
      <%= label :until, 'Until:' %><br>
      <%= f.text_field :until_time, class: 'datetimepicker' %>
    </div>
<hr>

<%= f.submit 'Search', class: "button radius" %>
<% end %>