<%= error_messages_for(@todo) %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :position, 'priority' %><br>
  <%= f.select :position, 1..@todo_count %>
</div>
<div class="field">
  <%= f.label :duration %><br>
  <%= f.time_select :duration, {:include_blank => true, :minute_step => 5, :time_separator => " hours and "} %> minutes
</div>
<div class="field">
  <%= f.label :recurrence %><br>
  <%= f.select :recurrence, ToDo.recurrences.keys.map {|r| [r.humanize, r]} %>
</div>
<div class="field">
  <%= f.label :expiration, 'expires' %><br>
  <%= f.text_field :expiration,  class: 'datetimepicker' %>
</div>

<hr>

<div class="field">
  <%= f.label :escalation_prior, 'Start escalating relative to deadline' %><br>
  <%= f.select :escalation_prior, ToDo.options_for_escalation_prior.map {|r| r } %>
</div>
<div class="field">
  <%= f.label :escalation_recurrence, 'Escalate every' %><br>
  <%= f.select :escalation_recurrence, ToDo.options_for_escalation_recurrence.map {|r| r } %>
</div>
<div class="field">
  <%= f.label :escalation_step, 'Increase priority by' %><br>
  <%= f.number_field :escalation_step, :min => 1, :step => 1 %>
</div>

<hr>

<h2>Set Reminder</h2>
   <%= f.fields_for(:reminder) do |r_form| %>
    <div class="field">
      <%= r_form.label :next_reminder_time, 'send reminder at' %><br>
      <%= r_form.text_field :next_reminder_time,  class: 'datetimepicker' %>
    </div>
    <div class="field">
        <%= r_form.label :recurrence %><br>
        <%= r_form.select :recurrence, Reminder.recurrences.keys.map {|r| [r.humanize, r]} %>
    </div>
   <% end %>

<div class="actions">
  <%= f.submit "Submit", class: "button radius" %>
</div>