<table class="listing" summary="To Do List">
  <tr class="header">
    <th>Title</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Duration</th>
	<th>Actions</th>
  </tr>
  
  <% @todos.each do |todo| %>
      <tr class=<%= todo.done? ? "done" : "not done" %>, id=<%= todo.done? ? "done" : "not done" %>>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td class="center"><%= todo.position %></td>
        <td class="center">
			<% unless todo.duration.nil? %>
			<%= "#{pluralize(todo.duration/3600, 'hour') if todo.duration/3600 > 0} #{pluralize(todo.duration%60, 'minute') if todo.duration%60 > 0}" %></td>
			<% end %>
		<td>
		<%= link_to('<i class="fi-check large"></i> Done'.html_safe, {controller: :to_dos, :action => :done, :id => todo.id, :class => 'action todo'}) if !todo.done? %><br>
        <%= link_to('<i class="fi-page-edit large"></i> Edit'.html_safe, {controller: :to_dos, :action => :edit, :id => todo.id, :class => 'action todo'}) %><br>
		<%= link_to('<i class="fi-x large"></i> Delete'.html_safe, {controller: :to_dos, :action => :destroy, :id => todo.id, :class => 'action todo'}) %>
		</td>
      </tr>
  <% end %>
</table>