<h1>My To-Dos</h1>

<br>

<%= link_to 'New To-Do', to_dos_new_path %>

<hr>

<% @todos.each do |todo| %>
    <div class=<%= todo.done? ? "done" : "not done" %>>
      <em>Title:</em> <%= todo.title %><br>
      <em>Description:</em> <%= todo.description %><br>
      <em>Priority:</em> <%= todo.position %><br>
      <em>Duration:</em> <%= "#{pluralize(todo.duration/3600, 'hour') if todo.duration/3600 > 0} #{pluralize((todo.duration/60)%60, 'minute') if (todo.duration/60)%60 > 0}" %><br>
      <em>Recurrence:</em> <%= todo.recurrence.humanize %><br>
      <%= link_to('Delete', {:action => :destroy, :id => todo.id, :class => 'action todo'}) %>&nbsp;&nbsp;
      <%= link_to('Edit', {:action => :edit, :id => todo.id, :class => 'action todo'}) %>&nbsp;&nbsp;
      <%= link_to('Done', {:action => :done, :id => todo.id, :class => 'action todo'}) if !todo.done? %>
    </div>
    <hr>
    <br>
<% end %>
