<ul class="nav">
  <% if user_signed_in? %>
    <li><%= link_to 'Home', events_path %></li>
    <li><%= link_to 'Create Event', new_event_path%></li>
    <li><%= link_to 'Groups', groups_path%></li>
    <li><%= link_to 'Subscriptions', subscription_index_path%></li>
  <%else%>
    <li><%= link_to 'Home', new_user_session_path %></li>
    <li><%= link_to 'Create Event', new_user_session_path%></li>
    <li><%= link_to 'Groups', new_user_session_path%></li>
    <li><%= link_to 'Subscriptions', subscription_index_path%></li>
  <%end%>
</ul>
