<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "EdgeCal" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>

  <body>

	<nav class="top-bar">
	  <ul class="title-area">
	      <li class="name"><h2><img src="<%= asset_path 'edge-cal-logo.png' %>"/></h2></li>
	  </ul>
	  <section class="top-bar-section">
		<ul class="right">
          <li class="divider"></li>
          <li><%= link_to 'Home', (user_signed_in? ? events_path : new_user_session_path)%></li>
          <li class="divider"></li>
          <li><%= link_to 'Groups', (user_signed_in? ? groups_path : new_user_session_path)%></li>
          <li class="divider"></li>
          <li><%= link_to 'Subscriptions', (user_signed_in? ? subscription_index_path : new_user_session_path)%></li>
          <li class="divider"></li>
          <li><%= link_to 'Requests', (user_signed_in? ? requests_index_path : new_user_session_path)%></li>
          <li class="divider"></li>
          <li><%= link_to 'To-Dos', (user_signed_in? ? to_dos_index_path : new_user_session_path)%></li>
          <li class="divider"></li>
          <li><%= link_to 'Time Slots', (user_signed_in? ? time_slot_index_path : new_user_session_path)%></li>
          <li class="divider"></li>
          <li><%= link_to 'Search Free Time', (user_signed_in? ? free_time_find_path : new_user_session_path)%></li>
		</ul>
	  </section>
	</nav>

	  <div class="container">
	  	<div id="user_nav">
	    	<% if user_signed_in? %>
	      	Signed in as <b><%= current_user.email %></b>. | Not you?
	      	<%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "user_nav_link" %>
	    	<% else %>
	     	 <%= link_to "Sign up", new_user_registration_path, class: "user_nav_link" %> or <%= link_to "sign in", new_user_session_path, class: "user_nav_link" %>
	    	 <% end %>
	  	</div>
  	  </div>
	  
	  <br>
	 
	  
	  <div class="row">
		  <div class="small-12 columns"><%= render 'layouts/messages' %></div>
  	  </div> 
		 
	  <br>
	  
	  <div class="row">
		  <div class="large-12 columns"><%= yield :calendar %></div>
	  </div>
	  
	  <br>
	  
	  <div class="row">
		  <div class="small-6 columns"><%= yield %></div>
		  <div class="small-6 columns"><%= yield :right_column %></div>
	  </div>
	  
	  <br>
	  <br>
	
  <br>
  <br>

  </body>
</html>
